@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
    --main-color: 0, 24, 41;
    --accet-color: 0, 155, 249;
    --bright-color: 243, 250, 255;
    --action-color: 255, 247, 214;

    --bg-gradnient-1: #2B3F53;
    --bg-gradnient-2: #576B81;
    --bg-gradnient-3: #869AB1;
    --bg-gradnient-4: #B8CDE5;
}  

@keyframes gradient {
	0% {
		background-position: 0% 25%;
	}
    15% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 50% 50%;
	}
    50% {
		background-position: 100% 50%;
	}
    75% {
		background-position: 50% 50%;
	}
    85% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 0% 25%;
	}
}

h1, #description h2, .toSelect h2 {
    color: rgb(var(--bright-color));
    border-bottom: 3px solid rgb(var(--accet-color));
    margin: 0px 0px 20px;
    padding: 0px;
    backdrop-filter: blur(20px);
    padding: 20px;
}

h3 {
    color: rgb(var(--action-color));
}

.background {
    background: linear-gradient(-45deg, rgb(var(--main-color)), var(--bg-gradnient-1), var(--bg-gradnient-2), var(--bg-gradnient-1));
    background-size: 200%;
    animation: gradient 10s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background object {
    opacity: 0.8;
    transform: scale(1.5);
    filter: blur(3px);
}

body{
    box-sizing: border-box;
    font-size: 18px;
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

h1 {
    text-align: center;
}

#quest {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
    margin: 20px;
}

#quest section {
    background: rgba(var(--main-color) , 0.5 );
    border: 3px solid rgb(var(--action-color));
    padding: 20px;
    border-radius: 25px;
    transition: all .3s linear;
    position: relative;
    backdrop-filter: blur(20px);
    color: rgb(var(--bright-color));
}

#quest .toSelect:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#quest section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* box-shadow: 0 0 20px 10px rgb(var(--action-color); )*/
    border-radius: 25px;
}

#quest li {
    margin: 25px 5px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#board {
    width: fit-content;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". a2 ."
        "a1 a0 a3"
        ". a4 ."; 
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}
.card {
    height: 30vh;
    width: 20vh;
    border: 7px solid;
    border-radius: 11px;
    position: relative;
    background-color: rgb(var(--bright-color));
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: rgb(var(--main-color));
}
.card .title {
    opacity: 0.5;
    padding: 2px 2px 5px;
    transition: opacity .2s linear;
}
.card .title * {
    margin: 0;
    text-align: center;
}
.card .title h4 {
    font-size: 16px;
}

.card:hover .title{
    backdrop-filter: blur(20px);
    opacity: 1;
}

.card .description {
    background: rgba(var(--main-color) , 0.5 );
    font-size: 16px;
    padding: 5px;
    bottom: -100%;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    transition: bottom .2s linear;
    backdrop-filter: blur(20px);
    color: rgb(var(--bright-color));
    border-top: 2px solid rgb(var(--bright-color));
    text-shadow: 0 0 2px rgb(var(--main-color));
}
.card:hover .description {
    bottom: 0;
}
.card.normal .title {
    background: #a5c1ff50;
}
.card.reversed .title{
    background: #ffa5a550;
}
.card.normal {
    border-color: #a5c1ff;
}
.card.reversed {
    border-color: #ffa5a5;
}
.hidden {
    display: none !important;
}

.selectedQuestion * {
    margin: 0;
}

.selectedQuestion ul{
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.result #description {
    padding: 20px;
    max-width: 40vw;
    background-color: rgba(var(--main-color) , 0.5 );
    color: rgb(var(--bright-color));
    border: 4px solid rgb(var(--action-color));
    border-radius: 25px;
    backdrop-filter: blur(20px);
    font-size: 20px;
}

.result #description h2, #quest section h2 {
    backdrop-filter: none;
}

#description section{
    transition: all .2s linear;
    padding-left: 0;
    border-left-width: 0;
    border-left-style: solid;
    border-color: rgb(var(--accet-color));
}

#description section:hover {
    padding-left: 40px;
    border-left-width: 5px;
}

#description b {
    color: rgb(var(--action-color));
}

#showChoice {
    z-index: 1;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4448;
}

#showChoice .preview {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#showChoice .preview .card{
    width: 50vh;
    height: 80vh;
    background-position: center;
}
#showChoice .preview .card  .title {
    font-size: 48px;
}
#showChoice .preview .card  h2 {
    font-size: 48px;
}
#showChoice .preview .card  h4 {
    font-size: 32px;
}
#showChoice .preview .card .description {
    font-size: 24px;
}

article#showChoice > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#showChoice button {
    font-size: 32px;
    padding: 5px 7px;
    border-radius: 5px;
    /* background: #4444; */
    background: none;
    border: 3px solid rgb(var(--action-color));
    /* filter: hue-rotate(90deg); */
    filter: invert(40%);
    cursor: pointer;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#showChoice button:hover {
    transform: scale(1.1);
    filter: invert(0%);
}

@media screen and (max-width: 1440px)  {
    #quest {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-height: 500px) {
        h1, #description h2, .toSelect h2 {
            margin-bottom: 0;
            padding: 0
        }
        #showChoice .preview .card h2 {
            font-size: 20px;
        }
        #showChoice .preview .card h4 {
            font-size: 16px;
        }
        #showChoice .preview .card .description {
            font-size: 14px;
        }
        .result .card .description {
            display: none;
        }
        .card .title * {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 768px)  {
    #quest {
        grid-template-columns: repeat(2, 1fr);
    }
    h1, #description h2, .toSelect h2 {
        margin-bottom: 0;
        padding: 0
    }
    .result {
        flex-direction: column;
    }
    .result #description {
        max-width: 95vw;
    }
}

@media screen and (max-width: 500px)  {
    #quest {
        grid-template-columns: repeat(1, 1fr);
    }
    h1, #description h2, .toSelect h2 {
        margin-bottom: 0;
        padding: 0;
    }
    #showChoice .preview .card {
        font-size: 14px;
    }
    article#showChoice > div {
        display: grid;
        grid-template-areas:
            "card card"
            "ok no";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 0px;
        justify-items: center;
        align-items: start;
    }
    #YES {
        grid-area: ok;
    }
    #NO {
        grid-area: no;
    }
    #showChoice .preview {
        grid-area: card;
    }
    #showChoice .preview .card {
        height: 75vh;
    }
    #board {
        transform: scale(0.8);
    }
}